.album__date {
    width: 320px;
    color: white;
    color: blueviolet;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    margin: 0 auto 40px;
}

@media (max-width: 475px) {
    .album__date {
        width: 260px;
        font-size: 9px;
        margin-bottom: 20px;
    }
}