.random-album__album {
    display: flex;
    flex-direction: column;
    margin: 60px auto 100px;
    padding: 40px;
    width: 480px;
    box-shadow: 0 0 5px blueviolet;
    border-radius: 2%;
    position: relative;
}