.random-album__album {
    display: flex;
    flex-direction: column;
    margin: 60px auto 100px;
    padding: 40px;
    width: 480px;
    box-shadow: 0 0 5px blueviolet;
    border-radius: 2%;
    position: relative;
}

@media (max-width: 768px) {
    .random-album__album {
        margin: 45px auto 80px;
        padding: 30px;
        width: 400px;
    }
}

@media (max-width: 475px) {
    .random-album__album {
        margin: 25px auto 60px;
        padding: 20px;
        width: 300px;
    }
}