.random-album__overlay {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 2%;
    opacity: 0;
    top: 40px;
    left: 40px;
    transition: opacity .5s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.random-album__overlay:hover {
    opacity: 1;
}

@media (max-width: 768px) {
    .random-album__overlay {
        top: 30px;
        left: 30px;
        height: 340px;
        width: 340px;
    }
}

@media (max-width: 475px) {
    .random-album__overlay {
        top: 20px;
        left: 20px;
        height: 260px;
        width: 260px;
    }
}