.header__title {
    font-size: 140px;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    margin: auto;
    text-align: center;
}

@media (max-width: 1290px) {
    .header__title {
        font-size: 120px;
    }
}

@media (max-width: 1024px) {
    .header__title {
        font-size: 80px;
    }
}

@media (max-width: 768px) {
    .header__title {
        font-size: 50px;
    }
}

@media (max-width: 475px) {
    .header__title {
        font-size: 30px;
    }
}