.album__overlay {
    position: absolute;
    width: 340px;
    height: 340px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 2%;
    opacity: 0;
    top: 30px;
    left: 30px;
    transition: all .3s ease;
    cursor: pointer;
}

.album__overlay:hover {
    opacity: 1; 
    transform: scale(1.05);
}

@media (max-width: 475px) {
    .album__overlay {
        width: 260px;
        height: 260px;
        top: 20px;
        left: 20px;
    }
}