.random-album__artist {
    margin: auto;
    color: blueviolet;
    font-size: 13px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .random-album__artist {
        font-size: 11px;
    }
}

@media (max-width: 475px) {
    .random-album__artist {
        font-size: 10px;
    }
}