* {
    box-sizing: border-box;
}
  
.page {
    /* font-family: 'Helvetica', 'Arial', sans-serif; */
    font-family: 'Comic Sans MS', 'Comic Sans', sans-serif;
    /* font-family: 'Lora'; */
    /* font-family: 'Playfair Display'; */
    background-color: #323131;
    font-size: 100%;
    font-weight: normal;
    min-width: 1280px;
}

/* Стили для шапки: */

.header {
    height: 100vh;
    background-image: url(../images/backgroundHeader.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header__overlay {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.header__title {
    font-size: 140px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin: auto;
}

.header__description {
    color: white;
    margin: auto;
    font-size: 25px;
    font-weight: 500;
}

/* Стили для всего контента: */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Cтили для секции с рандомным альбомом или синглом: */

.random-album {
    display: flex;
    flex-direction: column;
}

.random-album__title {
    font-size: 60px;
    font-weight: 500;
    /* color:#ff6666; */
    color: blueviolet;
    margin:  100px auto 50px;
}

.random-album__button {
    margin: auto;
    padding: 0;
    color: black;
    height: 40px;
    width: 150px;
    background-color: #323131;
    border: 2px solid blueviolet;
    border-radius: 3%;
    cursor: pointer;
}

.random-album__album {
    display: flex;
    flex-direction: column;
    margin: 60px auto 100px;
    padding: 40px;
    width: 480px;
    box-shadow: 0 0 5px blueviolet;
    border-radius: 2%;
}

.random-album__image {
    width: 400px;
    margin: auto;
    border-radius: 2%;
}

.random-album__name {
    margin: 15px auto 5px;
    color: blueviolet;
    font-size: 17px;
    font-weight: 500;
}

.random-album__artist {
    margin: auto;
    color: blueviolet;
    font-size: 13px;
    font-weight: 500;
}

/* Cтили для секции с карточками альбомов и синглов: */

.albums {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, .8);
    width: 1280px;
    padding-top: 100px;
}

.album {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    box-shadow: 0 0 5px blueviolet;
    position: relative;
}

.album__overlay {
    position: absolute;
    width: 340px;
    height: 340px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 2%;
    opacity: 0;
    top: 30px;
    left: 30px;
    transition: opacity .3s ease;
}

.album__overlay:hover {
    opacity: 1;
}


.album__image {
    width: 340px;
    border-radius: 2%;
    margin: 30px;
}

.album__name {
    width: 320px;
    color: white;
    color: blueviolet;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    margin: 150px auto 5px;
}

.album__date {
    width: 320px;
    color: white;
    color: blueviolet;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    margin: 0 auto 40px;
}

/* Стили для подвала сайта: */

.footer__container {
    border-top: 1px solid rgba(0, 0, 0, .8);
    width: 1280px;
    margin: 60px auto 0;
    display: flex;
    justify-content: space-between;
}

.footer__author {
    margin: auto 0;
    font-size: 17px;
    font-weight: 500;
    color: rgba(0, 0, 0, .8);
}
 
.footer__links {
    list-style-type: none;
    margin: 16px 0;
    padding: 0;
}

.footer__link {
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: rgba(0, 0, 0, .8);
    margin: auto 0;
}
