.album__image {
    max-width: 340px;
    border-radius: 2%;
    margin: 30px;
    transition: transform .3s ease;
}

.album:hover .album__image {
    transform: scale(1.05);
}

@media (max-width: 475px) {
    .album__image {
        width: 260px;
        height: 260px;
        margin: 20px;
    }
}